<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.ReviewMapper">
    <select id="selectall" resultType="review">
        SELECT * FROM review
    </select>
    <insert id="insert" parameterType="review">
        INSERT INTO review VALUES (review_seq.NEXTVAL,#{name}, SYSDATE, #{text}, 0)
    </insert>
    <delete id="delete" parameterType="Integer">
        DELETE FROM  review  WHERE id=${id}
    </delete>
    <delete id="deleteall">
        DELETE FROM review WHERE isHidden = 1
    </delete>
    <update id="updateisHidden" parameterType="Integer">
        UPDATE review SET isHidden = 1 WHERE id = #{id}
    </update>
    <update id="reviveall">
        UPDATE review SET isHidden = 0
    </update>
</mapper>
